 * {
     padding: 0;
     margin: 0;
 }
  

/*Styling for the header*/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  background-color: #1f2937;
}


#navbar #links {
    display: flex;
    list-style: none ;
}

#navbar #logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#navbar #links li {
    margin: 0 5px;
}

 #navbar #links a {
     font-size: 18px;
     text-decoration: none;
     color: white;
 }


 #navbar #links a:hover {
     color: black;
     background-color: white;
 }


 .s-button {
     color: black;
     border: 1px solid lightgray;
     background-color: aqua;
     border-radius: 5px;
 }


 .s-button:hover {
     background-color: black;
     color: aqua;
 }
 
 
/* End of styling for the header*/ 


/*Styling for the Welcome section*/


#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 80vh;
  background-color: #1f2937;
  color: white;
}


.extra-bold {
    font-size: 48px;
    font-weight: bolder;
}


#welcome article { 
  font-size: 18px;
}


#welcome.welcome-img, article {
  flex-grow: 1;
  margin-left: 9px;    
}


#welcome a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  border: 1 solid lightgrey;
  border-radius: 5px;
}


#welcome a:hover {
    color: aqua;
    background-color: black;
}


/*End of the stlying for the welcome section*/


/*Styling fot the Photo Gallery*/


h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

#photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    height: 50vh;
}


#photo-gallery img {
    width: 250px;
    height: 250px;
}



/*End of the styling for the photo gallery*/


/*Styling for the inspirational qoute*/


#inspire {
    height: min-content;
    background-color: #E5E7EB;
    font-size: 38px;
    font-style: italic;
    color: #1F2937;
    padding: 30px;
}


article {
    width: 500px;
    margin: auto;
}

/*End of the styling for the inspirational qoute*/